.App {
  text-align: center;
}

.side {
  display: flex;
  position: relative;
  height: 100%;
}

.main {
  padding: 24px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.menu__button {
  background-color: transparent !important;
  border: none !important;
  outline: none !important;
}

.menu__button:hover {
  color: #ffd331;
}

.float-right {
  float: right;
}
